---
import config from "virtual:starlight/user-config";

import LanguageSelect from "virtual:starlight/components/LanguageSelect";
import Search from "virtual:starlight/components/Search";
import SiteTitle from "virtual:starlight/components/SiteTitle";

import ThemeToggle from "./ThemeToggle.astro";

const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="mikan-header">
  <div class="mikan-title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="mikan-header-actions sl-flex print:hidden">
    {shouldRenderSearch && <Search />}
    <div class="sl-hidden md:sl-flex mikan-header-secondary">
      <ThemeToggle />
      <LanguageSelect />
    </div>
  </div>
</div>
