---
import LanguageSelect from "virtual:starlight/components/LanguageSelect";

import ThemeToggle from "./ThemeToggle.astro";
---

<div class="mikan-mobile-preferences sl-flex">
  <ThemeToggle />
  <LanguageSelect />
</div>
