---
import LanguageSelect from "virtual:starlight/components/LanguageSelect";
import ThemeSelect from "virtual:starlight/components/ThemeSelect";
---

<div class="mikan-mobile-preferences sl-flex">
  <ThemeSelect />
  <LanguageSelect />
</div>
